 .navbar{
    width: 70%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }
  .navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    position: relative;
    right: 0;

  }
  .link{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    
  }
  .link.active{
    font-weight: bolder;
    color: antiquewhite;
  }
  
  .navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  .navbar ul li:hover::after{
    width: 100%;
  } 